{% extends "base.html" %}
{% block title %}{{ page }}{% endblock title %}
{% block content %}
<section class="px-4 py-2 my-2 text-center">
    <h1 class="display-5 fw-bold text-body-emphasis">Contactos recibidos</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Los siguientes estan pendiente de flanes</p>
    </div>
</section>
</section>
<section class="container my-4" id="prueba">
  <div class="row mt-3">
    {% for contact in contacts %}
    <div class="card mb-4">
      <div class="card-body">
        <h5 class="card-title">{{ contact.name }}</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">{{ contact.email }}</h6>
        <p class="card-text">{{ contact.message }}</p>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
{% endblock content %}