{% extends "base.html" %}
{% block title %}{{ page }}{% endblock title %}
{% block content %}
<section class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
    <h1 class="display-5 fw-bold text-body-emphasis">Bienvenido Usuario</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Si quieres los Flanes mas epicos estas en el lugar correcto, disfruta de la maxima flasiosidad 🍮</p>
    </div>
</section>
</section>
<section class="container my-4" id="prueba">
  <div class="row mt-3">
    {% for flan in flans %}
      <div class="col col-sm-6 col-lg-3">
        <div class="card">
          <img src="{{ flan.image }}" class="card-img-top" alt="{{ flan.name }}" />
          <div class="card-body">
            <h5 class="card-title">{{ flan.name }}</h5>
            <p class="card-text">{{ flan.description }}</p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</section>
{% endblock content %}